{{extend 'plugin_layouts/layouts/KeepitSimple.html'}}
<h1>Welcome to the AniFood Webinterface</h1>
</h1>
<br>
<!-- öffnet die Funktion zum konfigurieren der Fütter Zeit -->
<a href="feeding" class="push_button">Configure Feeding Schedule</a>
<p>
    
</p>
<!-- önnet Haustier Information -->
<a href="information" class="push_button">Pet Information</a>
<p>
    
</p>
<!-- hier sollte der User die Webcam ansicht öffnen -->
<a href="camera" class="push_button">Camera View</a>
